/* Define the Recoleta font */
@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-RegularDEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Apply the Recoleta font to all elements */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Recoleta', serif;
}

#layers-control {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    z-index: 1000;
    font-family: 'Recoleta', serif;
}

.sample-text {
    font-family: 'Recoleta', serif;
    font-size: 24px;
    color: #333;
    margin: 20px;
}
