/* Additional styles */
.sample-text {
    font-family: 'Recoleta', serif;
    font-size: 24px;
    color: #333;
    margin: 20px;
}

/* Other styles specific to main.css */
#file-list {
    margin-bottom: 20px;
}

.file-item {
    cursor: pointer;
    margin: 5px 0;
    color: blue;
    text-decoration: underline;
}
