<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/geotiff/dist/geotiff.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet-geotiff-2@1.1.0/dist/leaflet-geotiff.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-geotiff-2@1.1.0/dist/leaflet-geotiff-rgb.min.js"></script>
</head>
<body>
    <div id="map" style="height: 100vh;"></div>
    <div id="layers-control">
        <label><input type="checkbox" id="layer1" /> Layer 1</label><br />
        <label><input type="checkbox" id="layer2" /> Layer 2</label><br />
    </div>
    <div class="sample-text">This is a sample text to test the Recoleta font.</div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
